<!DOCTYPE html>
<html>

<head>
    <title>EJS Template</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <form action="/login/login" method="post">
            <input type="text" name="email">
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>